<form asp-controller="Product" asp-action="AddProduct" method="post">
    <label for="">Ürün İsmi</label>
    <input type="text" name="Name">
    <br>
    <label for="">Ürün Price</label>
    <input type="text" name="Price">

    <button type="submit">Ürün Kaydet</button>
</form>