@{
    Layout = "LayoutExample";
    ViewData["Title"] = "Burası LayoutExample Kardeşim";
}

@section header{
    <h1>Burası Header RenderSection</h1>
}

@section footer{
    <h1>Burası Footer RenderSection</h1>
}



<h1>Burası Layout Example</h1>
<p>Controller-Action'ı istediğimiz layout'a göndermek için yukarıda layout = "layoutismi" şeklinde tanımlıyoruz.</p>